/* From Uiverse.io by SouravBandyopadhyay */ 
.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}
.small-desc {
  font-size: 1em;
}

.go-corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.card-container {
  display: flex; /* make the container a flex container */
  flex-wrap: wrap; /* allow cards to wrap to the next line */
  justify-content: space-between; /* distribute cards evenly */
  align-items: right; /* center cards vertically */
  margin: 20px; /* add some space around the container */
}


.card {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  top: 50px; /* offset from top edge of parent */
  left: 150px; /* offset from left edge of parent */
  margin: 10px; /* add some space between cards */
  flex: 3; /* make the card flexible */
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#c3e6ec), to(#a7d1d9));
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
}
.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.35s ease-out;
  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
}
.card:hover:before {
  -webkit-transform: scale(28);
      -ms-transform: scale(28);
          transform: scale(28);
}

.card:hover .small-desc {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card:hover .card-title{
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #ffffff;
}
